<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="font-family: Arial, sans-serif;">
<table
        style="max-width: 460px; background-color: #ffffff; margin: auto; padding: 5px; width: 100%;">
    <tr>
        <td style="padding: 10px; font-size: 16px; line-height: 1.5; color: #333; text-align: start;">
            <h1 style="color: #333;">Truth Learning</h1>
            <p>Xin chào <span th:text="${username}">[User's Name]</span>,</p>
            <p>Cảm ơn vì đã đăng ký là thành viện của Truth Learning! trước khi bắt đầu hãy nhấn nút bên dưới để xác thực
                tài khoản</p>
            <p><strong>Lưu ý:</strong> Liên kết này chỉ có hiệu lực trong vòng <strong>15 phút</strong>.</p>
            <p style="margin: 20px 0;">
                <a th:href="${value}"
                   style="background-color: #0d6efd; color: #ffffff; padding: 10px; font-size: 16px; text-decoration: none; border-radius: 6px; display: inline-block;">
                    Xác thực tài khoản
                </a>
            </p>
            <p>Nếu bạn không thực hiện đăng ký Truth Learning, bạn có thể bỏ qua email này</p>
            <p>Chào mừng!</p>
            <p><strong>- The Truth Learning Team</strong></p>
        </td>
    </tr>
</table>
</body>

</html>